name: Build Headless
on: [push,workflow_dispatch]

jobs:
  VCPKG:
    name: ${{ matrix.os }}-${{ github.workflow }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-2022]
        include:
          - os: 'ubuntu-latest'
            mono: 'mono'
            triplet: 'x64-linux'
            exe_ext: ''
            build_dir: ninja-headless
          - os: 'windows-2022'
            mono: ''
            triplet: 'x64-win'
            exe_ext: '.exe'
            build_dir: vs-headless
          - os: 'macos-latest'
            mono: 'mono'
            triplet: 'x64-osx'
            exe_ext: ''
            build_dir: ninja-headless

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: seanmiddleditch/gha-setup-ninja@master
        if: startsWith(matrix.os, 'win')

      - uses: lukka/get-cmake@latest
        if: startsWith(matrix.os, 'win')

      - name: Setup MacOS
        if: startsWith(matrix.os, 'macOS')
        run: brew upgrade && brew install automake autoconf ninja cmake nuget || true

      - name: Setup Ubuntu
        if: startsWith(matrix.os, 'ubuntu')
        run: sudo apt update && sudo apt upgrade && sudo apt install
          build-essential gperf ninja-build cmake

      - name: Build
        shell: bash
        run: scripts/build-headless.sh ${{ matrix.triplet }}

      - name: Archive artifact
        shell: bash
        run: tar -cvJf clap-plugins.clap.tar.xz --strip-components 4 builds/${{matrix.build_dir}}/plugins/Release/clap-plugins.clap

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: clap-plugins-${{ matrix.triplet }}.tar.xz
          path: clap-plugins.clap.tar.xz
