name: Build with GUI (vcpkg)
on: [workflow_dispatch]

jobs:
  VCPKG:
    name: ${{ matrix.os }}-${{ github.workflow }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-2022]
        include:
          - os: 'ubuntu-latest'
            mono: 'mono'
            triplet: 'x64-linux'
            exe_ext: ''
            build_dir: ninja-vcpkg
          - os: 'windows-2022'
            mono: ''
            triplet: 'x64-win'
            exe_ext: '.exe'
            build_dir: vs-vcpkg
          - os: 'macos-latest'
            mono: 'mono'
            triplet: 'x64-osx'
            exe_ext: ''
            build_dir: ninja-vcpkg

    env:
      VCPKG_BINARY_SOURCES: 'clear;nuget,GitHub,readwrite'

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: seanmiddleditch/gha-setup-ninja@master
        if: startsWith(matrix.os, 'win')

      - uses: lukka/get-cmake@latest
        if: startsWith(matrix.os, 'win')

      - name: Setup MacOS
        if: startsWith(matrix.os, 'macOS')
        run: brew upgrade && brew install automake autoconf ninja cmake nuget || true

      - name: Setup Ubuntu
        if: startsWith(matrix.os, 'ubuntu')
        run: sudo apt update && sudo apt upgrade && sudo apt install
          build-essential gperf ninja-build cmake
          libgl1-mesa-dev
          libfontconfig1-dev
          libfreetype6-dev
          libx11-dev
          libx11-xcb-dev
          libxcb-damage0-dev
          libxcb-dpms0-dev
          libxcb-glx0-dev
          libxcb-icccm4-dev
          libxcb-image0-dev
          libxcb-keysyms1-dev
          libxcb-present-dev
          libxcb-randr0-dev
          libxcb-record0-dev
          libxcb-render-util0-dev
          libxcb-render0-dev
          libxcb-res0-dev
          libxcb-shape0-dev
          libxcb-shm0-dev
          libxcb-sync-dev
          libxcb-util-dev
          libxcb-xfixes0-dev
          libxcb-xinerama0-dev
          libxcb-xkb-dev
          libxcb1-dev
          libxext-dev
          libxfixes-dev
          libxi-dev
          libxkbcommon-dev
          libxkbcommon-x11-dev
          libxrender-dev
          libatspi2.0-dev
          nuget

      - name: 'Bootstrap VCPKG'
        shell: bash
        run: vcpkg/bootstrap-vcpkg.sh

      - name: 'Setup NuGet Credentials (windows)'
        if: startsWith(matrix.os, 'win')
        shell: 'bash'
        run: >
          ${{ matrix.mono }} `./vcpkg/vcpkg fetch nuget | tail -n 1`
          sources add
          -source "https://nuget.pkg.github.com/free-audio/index.json"
          -storepasswordincleartext
          -name "GitHub"
          -username "free-audio"
          -password "${{ secrets.GITHUB_TOKEN }}"

      - name: 'Setup NuGet Credentials (unix)'
        if: startsWith(matrix.os, 'ubuntu') || startsWith(matrix.os, 'macOS')
        shell: 'bash'
        run: >
          nuget sources add
          -source "https://nuget.pkg.github.com/free-audio/index.json"
          -storepasswordincleartext
          -name "GitHub"
          -username "free-audio"
          -password "${{ secrets.GITHUB_TOKEN }}"

      - name: Build
        shell: bash
        run: scripts/build-gui.sh ${{ matrix.triplet }}

      - name: Archive artifact
        shell: bash
        run: tar -cvJf clap-plugins.clap.tar.xz --strip-components 4 builds/${{matrix.build_dir}}/plugins/Release/clap-plugins.clap

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: clap-plugins-${{ matrix.triplet }}.tar.xz
          path: clap-plugins.clap.tar.xz

      - uses: actions/delete-package-versions@v3
        with:
          package-name: qtbase_${{ matrix.triplet }}-cp
